div#container {
    padding-top: 5px;
    width: 960px;
    font-family: Calibri;
}

div#header {
    text-align: center;
}

div#body {
    padding: 0px 30px 10px 30px;
}

p.header {
    margin-bottom: 1em;
}

h2 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

p {
    margin-bottom: 0.5em;
}

ul {
    margin-top: 0.5em;
}

li {
    padding-bottom: 2px;
}

